.button {
    background-color: var(--body-bgc);
    border-radius: 8px;
    padding: .8rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
    display: inline;
}

.button.button--icon {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
