includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
        - config
        - resources
        - routes
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkMissingIterableValueType: false
    excludePaths:
    		- src/ChewbyServiceProvider.php
