parameters:
    level: max
    paths:
        - src
        - config
        - resources
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: true