.chewby__button {
    border-radius: 8px;
    padding: .8rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
    display: inline;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background-color: var(--icon-color);
}

.chewby__button--icon {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
